p {
  font-size: .85rem;
}
code {
  padding:.25rem;
}

.legend {
  margin-top: 1rem;
  padding: .5rem;
  border: dotted 1px black;
}

.legend > div > div {
  width: 25%;
  display: inline-block;
  margin-right: 0rem !important;
}
